@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body{
	padding: 0;
	margin: 0;
	/* background:#f4f4f4; */
	background: #96CDFF;
	/* background: #0A4389; */
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Work Sans";
}
h1{
	font-size: 80px;
	line-height: 117px;
	letter-spacing: 0.03em;
}
h2 {
	margin-bottom: 35px;
	letter-spacing: 0.03em;
}
.navbar{
	background:#ffffff;
	min-height: 70px;
}
.nav-link , .navbar-brand{
	color: #96CDFF;
	cursor: pointer;
	font-size: 20px;
}
.nav-link{
	margin-right: 1.5em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #f97300;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
	background: #96CDFF
	/* position: relative; */
	/* background-image: url('../images/headerback.jpg'); */

	/* background-size: cover; */
	/* background-position: center; */
}

.header img{
	 /* height: 15rem; */
	 width: 100%;
	 /* margin: 6em; */
	 margin-left: 700px;
	 margin-right: auto;
	 margin-bottom: auto;
	 margin-top: 20px;
}
/* .overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
} */

div.a {
	color:#FFFFFF ;
	margin-top: 350px;
	text-align: center;
}
div.b {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color:#FFFFFF ;
}
div.c {
	color:#FFFFFF ;
	text-align: center;
}
div.d {
	position: absolute;
	top: 30px;
	right: 30px;
}
div.e {
	color:#FFFFFF ;
	margin-top: 200px;
	text-align: center;
}
.g-signin2{
	width: 100%;
}
.g-signin2 > div{
	margin: 0 auto;
}
.triangle {
	position: relative;
	background-color:#FFE8A8;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  2em;
	height: 2em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.button {
	background-color: #FFD972;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 20px;
	font-family: "Work Sans";
  }
.description{
    position: absolute;
    top: 30%;
    margin: auto;
		padding: 2em;
}
.description h1{
	color:#FFFFFF ;
	margin-top: 150px;
	text-align: center;
}
.description p{
	color:#ffffff;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	/* border:1px  solid #F97300; */
	background:#FFD972;
	border: none;
	color:#fff;
}
.about{
	/* margin: 4em 0; */
	margin: auto;
	/* padding: 1em; */
	position: relative;
	background-color: #96CDFF;
}
.about h1{
	color: #ffffff;
	position: absolute;
	/* position: relative; */
	left: auto;
	right: auto;
	display: flex;
	/* width: 50%; */
	top: 1em;
	/* display: inline-block; */
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 100px;
	line-height: 117px;
	text-align: center;
	letter-spacing: 0.03em;

	/* font-family: "Work Sans"; */
	/* font-weight: medium; */
	/* color:#F97300; */
	/* margin: 2em; */
}
.about button{
	background-color: #96CDFF;
	border: none;
	color: #ffffff;

}

.about img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about h3{
	/* color: #10828C; */
  color: #ffffff;
	background-color: #7EC4CE;
	display: inline;
}

.about h2{
	color: #ffffff;
	display: inline;
}

.about p{
	/* line-height:2; */
	/* color:#888; */
	color: #ffffff;
	position: absolute;
	width: 786px;
	height: 354px;
	left: 604px;
	top: 716px;
	/* top: auto; */
	/* bottom: auto; */

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 59px;
	letter-spacing: 0.03em;

}


/*Portfolio*/
.portfolio{
	margin: 4em 0;
  position: relative;
	background-color: #96CDFF;
}
.portfolio h1{
	color:#ffffff;
	margin: 2em;
}
.portfolio h3{
	color:#ffb6c1;
	/* text-align: center; */
	margin: 0 auto;
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;
}

/*blog style*/

.blog{
	margin: 4em 0;
	position: relative;
	background-color: #449DD1;
}
.blog h1{
	color:#ffffff;
	margin: 2em;
}
.blog .card{
	box-shadow: 0 0 20px #ccc;
}
.blog .card img{
	width: 100%;
	height: 12em;
}
@media and (max-width: 768px){
 .team .item img{
 	width: 100%;
 }
}
.blog .card-title{
	color:#F97300;

}
.blog .card-body{
	padding: 1em;
}
.team{
	margin: 4em 0;
	position: relative;

}
.team h1{
	color:#FFFFFF;
	margin: 2em;
	text-align: center;
}
/* .team .item{
	position: relative;
	overflow: hidden;
} */

.team img{
	width: 28px;
	padding-top: 40px;
}

.team .des{
	/* background: #F97300; */
	/* margin: 2px 0; */
	/* margin-right: 4px; */
	margin-left: 4px;
	margin-right: 1em;
	color: #fff;
	text-align: left;
	/* border-top-right-radius: 93%; */
	/* transition:.3s ease-in-out; */
	position: absolute;
	width: 100%;
	line-height: 2.2em;
	font-family: "Work Sans";
	/* bottom: 24px; */
}

.team h3{
	color:#FFFFFF;
	font-family: "Work Sans";
	margin-top: 20px;

}

.team h2 {
	color:#FFFFFF;
	text-align: left;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.team h4 {
	color: #FFFFFF;
	text-align: center;
	/* position: relative; */

	/* margin-top: 50px; */
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 80px;
  line-height: 94px;
}

/* }
.team .item:hover .des{
	height: 100%;
	background:#f973007d;
    position: absolute;
	width: 89%;
	padding: 5em;
	top: 0;
	border-top-right-radius: 0;
} */
.contact-form{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* display: inline-block; */
	margin: 6em 0;
	/* position: relative; */
	background-color: #449DD1;
}

.contact-form h1{
	padding:2em 1px;
	text-align: center;
	color: #ffffff;
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #7EC4CE;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}

.table th, .table td {
     border-top: none !important;
 }

 .circular--square {
  border-radius: 50%;
}

/* progress-style */


div.b h1 {
	color:#FFFFFF ;
	margin-top: 154px;
	text-align: center;
}

div.b h2 {
	color:#FFFFFF ;
	margin-top: 80px;
	text-align: left;
	/* left: 328px; */
	position: absolute;
	/* right: 50px; */
	/* padding: 100px; */
	padding-left: 100px;
	padding-right: 100px;
}

/* sponsor-style */

div.c h1 {
	color:#FFFFFF ;
	margin-top: 154px;
	text-align: center;
}

div.c h2 {
	color:#FFFFFF ;
	margin-top: 62px;
	text-align: left;
	/* left: 328px; */
	position: absolute;
	/* right: 50px; */
	/* padding: 100px; */
	padding-top: 50px;
	/* padding-bottom: 80px; */
	padding-left: 300px;
	padding-right: 300px;
}

/* faq-style */

div.d h1 {
	color:#FFFFFF;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px;
}

div.d h3 {
	color:#FFFFFF;
	margin-top: 154px;
	text-align: center;
	font-size: 50px;
}

div.d h2 {
	color:#FFFFFF;
	margin-top: 62px;
	text-align: left;
	font-size: 30px;
	/* left: 328px; */
	/* position: absolute; */
	/* right: 50px; */
	/* padding: 100px; */
	font-weight: SemiBold !important;
	padding-top: 50px;
	/* padding-bottom: 80px; */
	padding-left: 277px;
	padding-right: 277px;
}

div.d p {
	color:#FFFFFF;
	text-align: left;
	font-family: "Work Sans";
	font-weight: Regular !important;
	padding-left: 277px;
	padding-right: 277px;
	font-size: 30px;
}

/* about-style */

div.e h1 {
	color:#FFFFFF;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px;
}

div.e h3 {
	color:#FFFFFF;
	margin-top: 154px;
	text-align: center;
	font-size: 50px;
}

div.e h2 {
	color:#FFFFFF;
	margin-top: 62px;
	text-align: left;
	font-size: 30px;
	/* left: 328px; */
	/* position: absolute; */
	/* right: 50px; */
	/* padding: 100px; */
	font-weight: SemiBold !important;
	padding-top: 50px;
	/* padding-bottom: 80px; */
	padding-left: 277px;
	padding-right: 277px;
}

div.e p {
	color:#FFFFFF;
	text-align: center;
	font-family: "Work Sans";
	font-weight: Regular !important;
	padding-left: 440px;
	padding-right: 440px;
	font-size: 30px;
}

div.e .button {
	background-color: #FFD972;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	padding: 15px 32px;
	margin-left: 600px;
	margin-right: 400px;
	margin-bottom: 50px;
	margin-top: 30px;

	/* display: inline-block; */
	/* left-margin: auto; */
	/* right-margin: auto; */
	/* position: absolute; */
	/* top: 50%; */
  /* left: 50%; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	text-align: center;
	font-size: 20px;
	font-family: "Work Sans";
  }
