@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body{
	padding: 0;
	margin: 0;
	background: #3A86FF;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Work Sans";
}
h1{
	color:#ffffff;
	font-size: 80px;
	line-height: 117px;
	letter-spacing: 0.03em;
}
h2 {
	color:#ffffff;
	margin-bottom: 35px;
	letter-spacing: 0.03em;
}
.navbar{
	background:#ffffff;
	min-height: 70px;
}
.nav-link , .navbar-brand{
	color: #3A86FF;
	cursor: pointer;
	font-size: 20px;
}
.nav-link{
	margin-right: 1.5em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #FF6978;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
	background: #96CDFF
}

.header img{
	 width: 100%;
	 margin-left: 700px;
	 margin-right: auto;
	 margin-bottom: auto;
	 margin-top: 20px;
}

.start h1{
	color:#FFFFFF ;
	margin: auto;
	text-align: center;
}
.homepage {
	height: 900px;
	position: relative;
	text-align: center;
	color:
  }

  .center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
div.a {
	color:#FFFFFF ;
	top: 50%;
	text-align: center;
}
div.b {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color:#FFFFFF ;
}
div.c {
	color:#FFFFFF ;
	text-align: center;
}
div.d {
	position: absolute;
	top: 30px;
	right: 30px;
}
div.e {
	color:#FFFFFF ;
	margin-top: 200px;
	text-align: center;
}
.g-signin2{
	width: 100%;
}
.g-signin2 > div{
	margin: 0 auto;
}
.triangle {
	position: relative;
	background-color:#FFE8A8;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  2em;
	height: 2em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
     }
}


.button {
	background-color: #FFD972;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 20px;
	font-family: "Work Sans";
	animation: shadow-pulse 1s infinite;
  }
.description{
    position: absolute;
    top: 30%;
    margin: auto;
		padding: 2em;
}
.description h1{
	color:#FFFFFF ;
	margin-top: 150px;
	text-align: center;
}
.description p{
	color:#ffffff;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	background:#FFD972;
	border: none;
	color:#fff;
}
.about{
	margin: auto;
	position: relative;
	background-color: #96CDFF;
}
.about h1{
	color: #ffffff;
	position: absolute;
	left: auto;
	right: auto;
	display: flex;
	top: 1em;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 100px;
	line-height: 117px;
	text-align: center;
	letter-spacing: 0.03em;
}
.about button{
	background-color: #96CDFF;
	border: none;
	color: #ffffff;
	margin-left: 400px;
	margin-right: 500px;
}

.about img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about h3{
  color: #ffffff;
	background-color: #7EC4CE;
	display: inline;
}

.about h2{
	color: #ffffff;
	display: inline;
}

.about p{
	color: #ffffff;
	position: absolute;
	width: 786px;
	height: 354px;
	left: 604px;
	top: 716px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 59px;
	letter-spacing: 0.03em;
}

/* .about h5 {
	color: #ffffff;
	position: absolute;
	left: auto;
	right: auto;
	display: flex;
	top: 2em;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 100px;
	line-height: 117px;
	text-align: center;
	letter-spacing: 0.03em;
} */


/*Portfolio*/
.portfolio{
	margin: 4em 0;
  position: relative;
	background-color: #96CDFF;
}
.portfolio h1{
	color:#ffffff;
	margin: 2em;
}
.portfolio h3{
	color:#ffb6c1;
	margin: 0 auto;
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;
}

/*blog style*/

.blog{
	margin: 4em 0;
	position: relative;
	background-color: inherit;
}
.blog h1{
	color:#ffffff;
	margin: 2em;
}

.team{
	margin: 4em 0;
	position: relative;

}
.team h1{
	color:#FFFFFF;
	margin: 1.5em;
	text-align: center;
}

.team img{
	width: 28px;
	padding-top: 10px;
}

.team .des{
	margin-left: 4px;
	margin-right: 1em;
	color: #fff;
	text-align: left;
	position: absolute;
	width: 100%;
	line-height: 2.2em;
	font-family: "Work Sans";
}

.team h3{
	color:#FFFFFF;
	font-family: "Work Sans";
	margin-top: 20px;

}

.team h2 {
	color:#FFFFFF;
	text-align: left;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.team h4 {
	color: #FFFFFF;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 150px;
	font-size: 80px;
  line-height: 60px;
}

.contact-form{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	margin: 6em 0;
	background-color: #96CDFF;
}

.contact-form h1{
	padding:2em 1px;
	text-align: center;
	color: #ffffff;
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #7EC4CE;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}

.table th, .table td {
     border-top: none !important;
 }

 .circular--square {
  border-radius: 50%;
}

/* progress-style */


div.b h1 {
	color:#FFFFFF ;
	margin-top: 154px;
	text-align: center;
}

div.b h2 {
	color:#FFFFFF ;
	margin-top: 80px;
	text-align: left;
	position: absolute;
	padding-left: 100px;
	padding-right: 100px;
}

/* sponsor-style */

div.c h1 {
	color:#FFFFFF ;
	margin-top: 154px;
	text-align: center;
}

div.c h2 {
	color:#FFFFFF ;
	margin-top: 62px;
	text-align: left;
	position: absolute;
	padding-top: 50px;
	padding-left: 300px;
	padding-right: 300px;
	font-weight: Bold;
}

/* faq-style */

div.d h1 {
	color:#FFFFFF;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px;
}

div.d h3 {
	color:#FFFFFF;
	margin-top: 110px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 7px;
}

div.d h2 {
	color:#FFFFFF;
	margin-top: 62px;
	text-align: left;
	font-size: 30px;
	font-weight: SemiBold !important;
	padding-left: 277px;
	padding-right: 277px;
}

div.e h5 {
	color:#FFFFFF;
	position: relative;
	top: -60px;
	text-align: center;
	font-size: 30px;
}

div.d p {
	color:#FFFFFF;
	text-align: left;
	font-family: "Work Sans";
	font-weight: Regular !important;
	padding-left: 277px;
	padding-right: 277px;
	font-size: 25px;
}

/* about-style */

div.e h1 {
	color:#FFFFFF;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 50px;
	padding-top: 1.5em;
}

div.e h3 {
	color:#FFFFFF;
	position: relative;
	top: -60px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 7px;
}

div.e h4 {
	color:#FFFFFF;
	margin-top: -30px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
	padding-top: 1em;
}

div.e h5 {
	color:#FFFFFF;
	text-align: center;
	font-size: 40px;
	padding-top: 2em;
	margin-bottom: -30px;
}

div.e h2 {
	color:#FFFFFF;
	position: relative;
	margin-top: 62px;
	text-align: left;
	font-size: 30px;
	font-weight: SemiBold !important;
	padding-top: 50px;
	padding-left: 277px;
	padding-right: 277px;
}

div.e p {
	color:#FFFFFF;
	text-align: center;
	font-family: "Work Sans";
	font-weight: Regular !important;
	padding-left: 440px;
	padding-right: 440px;
	font-size: 30px;
}

div.e .button {
	background-color: #FFD972;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	padding: 15px 32px;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 50px;
	margin-top: 30px;

	text-align: center;
	font-size: 20px;
	font-family: "Work Sans";
  }

	/* link-styling */
	a { color: white; }
